<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Update product</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>

        <div class="container my-5">
            <h3>Update product</h3>

            <div class="col-md-8">
                <form action="#" th:action="@{/update/{idproducto}(idproducto=${producto.idproducto})}" th:object="${producto}" method="post"> 
                    
                    <div class="row">
                       
                        <div class="form-group col-md-6">
                            <label for="name" class="col-form-label">Nombre</label> 
                            <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="nombre">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="name" class="col-form-label">Descripción</label> 
                            <input type="text" th:field="*{descripcion}" class="form-control" id="descripcion" placeholder="descripcion">
                        </div>
                        
                        <div class="form-group col-md-8">
                            <label>Precio</label>
                            <input class="form-control" type="text" id="precio" th:field="*{precio}" placeholder="precio"/>
                        </div>

                        <div class="form-group col-md-8">
                            <label>Peso (Kilogramos)</label>
                            <input class="form-control" type="text" id="peso" th:field="*{peso}"placeholder="peso"/>
                        </div>
                        
                        <div class="form-group col-md-8">
                            <input class="form-control" type="text" id="idcategoria" th:field="*{idcategoria}"placeholder="idcategoria" hidden="true"/>
                        </div>
                        
                        <div class="form-group col-md-8">
                            <input class="form-control" type="text" id="fotouno" th:field="*{fotouno}"placeholder="fotouno" hidden="true"/>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Update">
                        </div>

                    </div>
                </form>
            </div>         
        </div>

    </body>
</html>

